body {
  font-family: Helvetica Neue, Segoe UI, Nimbus Sans L, Liberation Sans, Open Sans, FreeSans, Arial, sans-serif;
}

table {
  margin:5% auto 0;
}

a {
  text-decoration: none;
}

.textRight {
  text-align: right;
  vertical-align: middle;
}

.textLeft {
  text-align: left;
  vertical-align: middle;
}

.body-content {
  text-align: center;
}

button {
  height: 40px;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #bcbcbc;
	border-radius: 3px;
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  font-size: 25px;
}

.button {
  height: 40px;
  width: auto;
  margin-top: 10px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 20px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#faa51a', endColorStr='#f47a20', gradientType='0'); 
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f88e11', endColorStr='#f06015', gradientType='0'); 
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f47a20', endColorStr='#faa51a', gradientType='0'); 
}

.search {
  margin-top: 50px;
  width: 600px;
  height: 40px;
  border: 1px solid #8d8d8d;
  font-size: 24px;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px #999;
  padding: 2px 2px 2px 7px;
}

.functionBox {
  margin-top: 100px;
  text-align: center;
}

#logo {
  width: 320px;
  height: 230px;
}

.redBlueSample {
  width: 261px;
  height: 302px;
}

.divbox {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 80px auto;
  border-radius: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color: #85AFDF;
  text-shadow: 1px 1px 1px #444;
  font-family: Verdana, Arial, Sans-Serif;
}

.dealrank {
  width: 500px;
}

.textCenter {
  text-align: center;
}

.backMain {
  width: 150px;
  margin: 25px auto;
}

.dealrankIntro, .backMain {
  display: none;
}

.boxshadow {
  -webkit-box-shadow: 0 0 8px #FFD700;
  -moz-box-shadow: 0 0 8px #FFD700;
  box-shadow: 0 0 8px #FFD700;
}

.textshadow {
  text-shadow: 0 0 8px #FFD700;
}

.price {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.red {
  color: #900;
}

.green {
  color: #007000;
}

.blue {
  color: #4d90fe;
}